/**
 * Portfolio
 **/

 *, *::after, *::before {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
  }
  
  #main-header {
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    border: 5px;
    border-color: #cccccc;
    height: 30px;
    color: #666;
    text-align: right;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
  }

  #header {
    color: #fff;
    background-color: #45AAA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    margin: 0;
    float: left;
  }

  #container {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #E9E9E9;
    float: center;
  }
  
  #main-bio {
    margin: auto;
    padding: 20px;
    width: 100%;
    background-color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #45AAA6;
    text-align: left;
    border: 5px;
    border-color: #cccccc;
    float: left;
  }
  
 #image {
    padding: 20px;
    margin: auto;
    background-color: #fff;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 500px;
    height: 200px;
  }

  #bio {
    padding: 20px;
    margin: auto;
    background-color: #fff;
    border: 5px;
    border-color: #dddddd; 
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    height: 200px;
  }

  footer {
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    margin: 20px;
    background-color: #666;
    color: #fff;
    clear: both;
    height: 50px;
    margin-top: -50px;
  }